<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
 <div class="well-lg"></div>
 <div id="content" role="main">
  <div class="container">
   <div class="row">
    <div class="col-lg-6 col-md-6">
     <div class="row">
      <div class="col-lg-12 center-block">
       <img class="img-responsive" src="themes/smiletv/img/team.png" alt="[Image: Team]" title="Team">
      </div>
     </div>
    </div>
    <div class="col-lg-6 col-md-6">
     <div class="row">
      <div class="col-lg-12">
       <h3>
        <strong> We are the best team ever! </strong>
       </h3>
       <span class="show" style="color: #a0a7ab">check out our other works</span>
      </div>
     </div>
     <div class="row">
      <div class="well-sm"></div>
     </div>
     <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pretium fringilla felis, quis posuere quam egestas sed. Vestibulum vitae facilisis tortor, ut aliquam nulla. Nam malesuada sem purus, quis pharetra massa pretium quis. Duis nec auctor nunc. Nunc facilisis enim suscipit libero vehicula, vel gravida lorem fringilla.</p>
       <p>Suspendisse auctor pharetra maximus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        <span>Quisque ut condimentum massa.</span> Phasellus pharetra tortor eros, vel ullamcorper massa convallis eget.
        <strong>Mauris molestie</strong> gravida fringilla. Pellentesque ipsum diam, accumsan sed ex sed, venenatis congue turpis. Nulla facilisi. Ut eu egestas erat.</p>
       <p>Vivamus auctor, purus quis rutrum viverra, urna dolor porttitor purus, sit amet placerat enim justo et libero. Nulla sit amet dolor at erat blandit condimentum a vitae tortor. Duis at felis aliquam, sagittis justo in, consequat ipsum.</p>
      </div>
     </div>
    </div>
    <div class="well-lg"></div>
    <div class="col-lg-12 col-md-12">
     <div class="row">
      <div class="col-lg-12">
       <div class="block-title-2lines">
        <div class="block-title-container">
         <h3>
          <strong> What do we do best? </strong>
         </h3>
        </div>
       </div>
      </div>
     </div>
     <div class="well-lg"></div>
    </div>
    <div class="col-lg-3 col-md-3">
     <div class="row">
      <div class="ts-counters">
       <article>
        <div class="entry-box">
         <div class="chart hide" data-percent="95">
          <span class="percent"></span>
         </div>
         <img src="themes/smiletv/img/html.png" class="img-responsive center-block" alt="[Image: HTML]" title="HTML"> </div>
        <div class="entry-title">
         <h4>HTML</h4>
        </div>
       </article>
      </div>
     </div>
    </div>
    <div class="col-lg-3 col-md-3">
     <div class="row">
      <div class="ts-counters" style="color: #343434">
       <article>
        <div class="entry-box">
         <div class="chart hide" data-percent="90">
          <span class="percent"></span>
         </div>
         <img src="themes/smiletv/img/css.png" class="img-responsive center-block" alt="[Image: CSS]" title="CSS"> </div>
        <div class="entry-title">
         <h4>CSS</h4>
        </div>
       </article>
      </div>
     </div>
    </div>
    <div class="col-lg-3 col-md-3">
     <div class="row">
      <div class="ts-counters" style="color: #343434">
       <article>
        <div class="entry-box">
         <div class="chart hide" data-percent="87">
          <span class="percent"></span>
         </div>
         <img src="themes/smiletv/img/colors.png" class="img-responsive center-block" alt="[Image: COLORS]" title="COLORS"> </div>
        <div class="entry-title">
         <h4>COLORS</h4>
        </div>
       </article>
      </div>
     </div>
    </div>
    <div class="col-lg-3 col-md-3">
     <div class="row">
      <div class="ts-counters" style="color: #343434">
       <article>
        <div class="entry-box">
         <div class="chart hide" data-percent="98">
          <span class="percent"></span>
         </div>
         <img src="themes/smiletv/img/wordpress.png" class="img-responsive center-block" alt="[Image: WORDPRESS]" title="WORDPRESS"> </div>
        <div class="entry-title">
         <h4>WordPress</h4>
        </div>
       </article>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="well-lg"></div>
  <!---------- WHAT WE DO THE BEST - SECTION   ---------->
  <div data-alignment="top">
   <div class="container">
    <div class="row">
     <div class="col-lg-12 col-md-12">
      <div class="row">
       <div class="col-lg-12">
        <div class="block-title-2lines">
         <div class="block-title-container">
          <h3>
           <i class="icon-noicon"></i>
           <strong> What do we do best? </strong>
          </h3>
         </div>
        </div>
       </div>
      </div>
      <div class="row">
       <div class="well-lg"></div>
      </div>
     </div>
     <div class="col-lg-6 col-md-6">
      <!---------- WHAT WE DO THE BEST - LEFT   ---------->
      <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="ts-toggle-box open panel-group" id="toggle-id-J9k3aNZ">
         <div class="panel panel-default">
          <div class="panel-heading toggle-title">
           <a data-toggle="collapse" data-parent="#toggle-id-J9k3aNZ" href="#J9k3aNZ">
            <i class="fa fa-angle-right"></i>This is a toggle box</a>
          </div>
          <div id="J9k3aNZ" class="panel-collapse collapse in">
           <div class="panel-body">
            <p> Donec vitae nisi erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin eu urna pellentesque, mollis dolor eget, rutrum nisi. Praesent interdum nisi nibh, aliquam rhoncus ipsum commodo ac. Nulla tincidunt enim a augue volutpat lacinia. Vestibulum id aliquam nisl. In rhoncus arcu ut nunc fringilla maximus. Nam at venenatis leo. Nulla suscipit, massa nec imperdiet sagittis, enim nisi venenatis dolor, at tincidunt nisl purus ut nulla. Nunc augue neque, rhoncus et imperdiet vel, pretium vel risus.</p>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="ts-toggle-box closed panel-group" id="toggle-id-zkLtqp5">
         <div class="panel panel-default">
          <div class="panel-heading toggle-title">
           <a data-toggle="collapse" data-parent="#toggle-id-zkLtqp5" href="#zkLtqp5">
            <i class="fa fa-angle-right"></i>This is a toggle box closed</a>
          </div>
          <div id="zkLtqp5" class="panel-collapse collapse ">
           <div class="panel-body">
            <p> Donec vitae nisi erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin eu urna pellentesque, mollis dolor eget, rutrum nisi. Praesent interdum nisi nibh, aliquam rhoncus ipsum commodo ac. Nulla tincidunt enim a augue volutpat lacinia. Vestibulum id aliquam nisl. In rhoncus arcu ut nunc fringilla maximus. Nam at venenatis leo. Nulla suscipit, massa nec imperdiet sagittis, enim nisi venenatis dolor, at tincidunt nisl purus ut nulla. Nunc augue neque, rhoncus et imperdiet vel, pretium vel risus.</p>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="ts-toggle-box closed panel-group" id="toggle-id-XC4yirS">
         <div class="panel panel-default">
          <div class="panel-heading toggle-title">
           <a data-toggle="collapse" data-parent="#toggle-id-XC4yirS" href="#XC4yirS">
            <i class="fa fa-angle-right"></i>This is a toggle box closed</a>
          </div>
          <div id="XC4yirS" class="panel-collapse collapse ">
           <div class="panel-body">
            <p> Donec vitae nisi erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin eu urna pellentesque, mollis dolor eget, rutrum nisi. Praesent interdum nisi nibh, aliquam rhoncus ipsum commodo ac. Nulla tincidunt enim a augue volutpat lacinia. Vestibulum id aliquam nisl. In rhoncus arcu ut nunc fringilla maximus. Nam at venenatis leo. Nulla suscipit, massa nec imperdiet sagittis, enim nisi venenatis dolor, at tincidunt nisl purus ut nulla. Nunc augue neque, rhoncus et imperdiet vel, pretium vel risus.</p>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="row">
       <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="ts-toggle-box closed panel-group" id="toggle-id-jGqvIaY">
         <div class="panel panel-default">
          <div class="panel-heading toggle-title">
           <a data-toggle="collapse" data-parent="#toggle-id-jGqvIaY" href="#jGqvIaY">
            <i class="fa fa-angle-right"></i>This is a toggle box closed</a>
          </div>
          <div id="jGqvIaY" class="panel-collapse collapse ">
           <div class="panel-body">
            <p> Donec vitae nisi erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin eu urna pellentesque, mollis dolor eget, rutrum nisi. Praesent interdum nisi nibh, aliquam rhoncus ipsum commodo ac. Nulla tincidunt enim a augue volutpat lacinia. Vestibulum id aliquam nisl. In rhoncus arcu ut nunc fringilla maximus. Nam at venenatis leo. Nulla suscipit, massa nec imperdiet sagittis, enim nisi venenatis dolor, at tincidunt nisl purus ut nulla. Nunc augue neque, rhoncus et imperdiet vel, pretium vel risus.</p>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <!---------- END OF WHAT WE DO THE BEST - LEFT   ---------->
     <div class="col-lg-6 col-md-6">
      <!----------  WHAT WE DO THE BEST - RIGHT   ---------->
      <div class="row">
       <section class="ts-listed-features">
        <div class="col-lg-12 col-md-12 col-sm-12">
         <article>
          <div class="image-container" style=" color: #28BCA7; ">
           <i class="fa fa-check"></i>
          </div>
          <section>
           <h6>
            <strong>Responsible</strong>
           </h6>
           <p>Fusce consequat finibus suscipit. Praesent ut ultrices enim, eget pretium erat. Donec id nibh sit amet lectus ornare varius. Nulla blandit lorem sit amet consectetur congue.</p>
          </section>
         </article>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
         <article>
          <div class="image-container" style=" color: #A8DD44; ">
           <i class="fa fa-check"></i>
          </div>
          <section>
           <h6>
            <strong>With experience</strong>
           </h6>
           <p>Fusce consequat finibus suscipit. Praesent ut ultrices enim, eget pretium erat. Donec id nibh sit amet lectus ornare varius. Nulla blandit lorem sit amet consectetur congue.</p>
          </section>
         </article>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
         <article>
          <div class="image-container" style=" color:#CFE0E8;">
           <i class="fa fa-check"></i>
          </div>
          <section>
           <h6>
            <strong>Creative</strong>
           </h6>
           <p>Fusce consequat finibus suscipit. Praesent ut ultrices enim, eget pretium erat. Donec id nibh sit amet lectus ornare varius. Nulla blandit lorem sit amet consectetur congue.</p>
          </section>
         </article>
        </div>
       </section>
      </div>
     </div>
     <!---------- END OF WHAT WE DO THE BEST - RIGHT   ---------->
    </div>
   </div>
  </div>
  <!---------- END OF WHAT WE DO THE BEST - SECTION   ---------->
  <div class="well-lg"></div>
  <div class="site-section ">
   <div class="container">
    <div class="row">
     <div class="col-lg-12 col-md-12">
      <div class="row">
       <div class="col-lg-12">
        <div class="block-title-2lines">
         <div class="block-title-container">
          <h3>
           <i class="icon-noicon"></i>
           <strong>Meet the team</strong>
          </h3>
          <span style="color:#3f4549"> who is working for you </span>
         </div>
        </div>
       </div>
      </div>
      <!--------------------------------------  MEET THE TEAM  ----------------------------------------->
      <div class="well-lg"></div>
      <div class="row">No Results</div>
      <div class="well-lg"></div>
      <div class="row">
       <div class="col-lg-12">
        <div class="block-title-lineariconcenter text-center">
         <div class="block-title-container">
          <span class="text-danger">who is working with us</span>
          <h3>
           <strong>Our clients</strong>
          </h3>
          <span class="text-danger">who is working with us</span>
         </div>
         <div>
          <i class="fa fa-user fa-lg text-danger"></i>
         </div>
        </div>
       </div>
      </div>
      <div class="well-lg"></div>
      <!--------------------------------------  END OF MEET THE TEAM  ----------------------------------------->
      <!--------------------------------------  BUSINSIDE SECTION  ----------------------------------------->
      <div class="row">
       <div class="col-lg-12">
        <div class="col-lg-3 col-md-3 col-sm-12">
         <div>
          <img class="img-responsive" src="themes/smiletv/img/businside.png" alt="[Image: Businside]" title="Businside">
         </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
         <div>
          <img class="img-responsive" src="themes/smiletv/img/antraxity.png" alt="[Image: Antraxity]" title="Antraxity">
         </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
         <div>
          <img class="img-responsive" src="themes/smiletv/img/letalyma.png" alt="[Image: Letalyma]" title="Letalyma">
         </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
         <div>
          <img class="img-responsive" src="themes/smiletv/img/mondeza.png" alt="[Image: Mondeza]" title="Mondeza">
         </div>
        </div>
       </div>
       <div class="well-lg"></div>
       <div class="well-lg"></div>
       <div class="well-lg"></div>
      </div>
      <!----------------------------------- END OF BUSINSIDE SECTION  --------------------------->
     </div>
    </div>
   </div>
  </div>
 </div>
</div>