<div id="channelsViewPage" class="container index no-pad" ng-controller="ChannelViewCtrl">
 <div class="clearfix container">
  <div class="col-md-8" ng-if="is_create_scope">
   <div class="section-header">
    <h2 class="pull-left whitec mob-clr mob-dc left-mar-sm">
     <i class="fa fa-desktop text-center icon space-xs"></i>
     Channels
     <small class="text-18" ng-show="channel_video_count != 0">({{channel_video_count}})</small>
    </h2>
   </div>
   <div id="channelsViewChannel">
    <module-channel limit="all" template-url="templates/module_channel.html" dom_parent_id="channelsViewChannel"></module-channel>
   </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 sidebar">
   <div class="clearfix clsHomeTopSpace" ng-if="is_create_scope" id="homeVideo5">
    <module-video sort="popular" title="Most Liked" limit="3" template-url="templates/module_widget_video.html" is-infinite-scroll="false" dom_parent_id="homeVideo5"></module-video>
   </div>
   <div class="clearfix navabr-btn text-center">
    <div id="homeAdWidget-advertisement-3" class="col-xs-12 no-pad">
     <h2 class="pull-left no-mar mob-clr text-22 widget-title text-left">
      Advertising
     </h2>
     <div class="col-xs-12 btn-block block-space-sm">
      <div class="widget-img1">
       <module-ad parent_id="homeAdWidget-advertisement-1" name="HOME_WIDGET_1" slot_name="advertisement-1"></module-ad>
      </div>
     </div>
    </div>
   </div>
   <div class="clearfix" ng-if="is_create_scope" id="homeVideo6">
    <module-video sort="highest_rate" title="Most Viewed" limit="8" template-url="templates/module_highly_rate_video.html" is-infinite-scroll="false" dom_parent_id="homeVideo6"></module-video>
   </div>
   <div id="homeAdWidget-advertisement-3" class="col-xs-12 no-pad">
    <h2 class="pull-left no-mar mob-clr text-22 widget-title text-left">
     Advertising
    </h2>
    <div class="col-xs-12 btn-block block-space-sm">
     <div class="widget-img1">
      <module-ad parent_id="homeAdWidget-advertisement-2" name="HOME_WIDGET_2" slot_name="advertisement-2"></module-ad>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
</div>