<div class="clearfix ">
 <div class="clearfix col-xs-12 no-pad playlist-carousel">
  <div class="navbar-btn col-lg-4 col-md-5 col-sm-6 col-xs-12 mob-top-mar pull-right no-pad text-center hidden-xs" ng-show="video_showSort">
   <div class="form-group small no-mar">
    <label class="control-label col-xs-4 col-md-2 h4 text-muted mob-clr">Sort</label>
    <div class="col-xs-8 no-pad pr mob-clr playlists-category h5 no-mar">
     <strong class="initialism">
      <div dropdown-select="video_selectOptions" dropdown-model="video_sortby_obj" dropdown-item-label="name" dropdown-onchange="video_sorting(selected)" dropdown-placeholder="Sort"></div>
     </strong>
    </div>
   </div>
  </div>
  <div class="section-header">
   <h2 class="pull-left whitec mob-clr mob-dc left-mar-sm montserrat">
    <i class="fa fa-play text-center icon"></i>{{video_title}}
    <span class="text-18" ng-show="total_video_count != 0 && video_showCount === 'true'"> ({{total_video_count}})</span>
    <a title="{{video_title}}" class="h3" href="" ng-click="video_infinite_view = !video_infinite_view" ng-show="video_displayType == undefined">
     <i class="fa fa-caret-right left-mar tab-no-mar" ng-show="video_infinite_view == false"></i>
     <i class="fa fa-caret-down left-mar tab-no-mar" ng-show="video_infinite_view == true"></i>
    </a>
   </h2>
  </div>
 </div>
 <div class="col-xs-12" ng-if="video_isInfiniteScroll">
  <div class="device-wrap-ld device-wrap clearfix col-center-block" ng-show="video_infinite_view == false">
   <div id="myCarousel" class="playlist-carousel carousel slide mob-no-pad ver-mar" data-ride="carousel">
    <div class="clearfix">
     <div ng-show="videoLaoding" class="clearfix col-lg-12  block-space pr">
      <span class="cssloader"></span>
     </div>
     <div class="carousel-inner container no-pad" data-carousel data-carousel-class="col-xs-12 video-list2 no-pad" data-on-page-upcoming="loadPage(page, tmplCb)" data-give-carousel-to="onCarouselAvailable(carousel)" ng-show="!videoNoRecord">
      <ul class="clearfix list-inline thumb-list no-mar js-list-inline pr">
       <li class="col-sm-4 col-xs-6 js-video-list" data-ng-repeat="video in videos" ng-swipe-left="swipeNext()" ng-swipe-right="swipePrevious()" on-carousel-scope-render="videoFinishRender()">
        <div class="clearfix " ng-include src="'templates/module_sub_video.html'"></div>
       </li>
      </ul>
     </div>
     <div class="clearfix control-btn pa">
      <a class="left carousel-control no-bg" data-ng-show="hasPrevious()" data-ng-click="previous()" href="" data-target="#myCarousel">
       <span class="fa fa-angle-left fa-3x cur"></span>
      </a>
      <a class="right carousel-control no-bg" data-ng-show="hasNext()" data-ng-click="next()" href="" data-target="#myCarousel">
       <span class="fa fa-angle-right fa-3x  cur"></span>
      </a>
     </div>
    </div>
   </div>
  </div>
  <div ng-if='video_infiniteScrollElement'>
   <div class="collapse in clearfix" ng-show="video_infinite_view == true" infinite-scroll="loadMoreVideo()" infinite-scroll-disabled='video_busy' infinite-scroll-element='{{video_infiniteScrollElement}}' infinite-scroll-distance="0" id="search-videolist">
    <div id="searchCarouse2_1" class="video-carousel mob-no-mar">
     <div class="clearfix block-space pr" ng-show="videoLaoding">
      <div class="cssloader top-mar"></div>
     </div>
     <div class="carousel-inner container no-pad" ng-show="!videoNoRecord">
      <ul class="clearfix list-inline thumb-list no-mar js-list-inline pr" ng-show="!video_loading">
       <li class="" ng-repeat="video in videos_listing" ng-class="{'col-lg-3 col-md-4 col-sm-6 col-xs-10 no-pad col-center-block text-left': q, 'col-lg-4 no-pad js-video-list': !q}">
        <div class="clearfix " ng-include src="'templates/module_sub_video.html'"></div>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div ng-if="video_isInfiniteScroll !== true">
  <div class="collapse in clearfix" id="search-videolist">
   <div id="searchCarouse2_1" class="video-carousel mob-no-mar">
    <div class="clearfix block-space pr" ng-show="videoLoading">
     <div class="cssloader top-mar"></div>
    </div>
    <div class="carousel-inner container no-pad" ng-show="!videoNoRecord">
     <ul class="clearfix list-inline thumb-list no-mar js-list-inline pr" ng-show="!video_loading">
      <li class="" ng-repeat="video in videos_listing" ng-class="{'col-lg-3 col-md-4 col-sm-6 col-xs-10 no-pad col-center-block text-left': q, 'col-lg-4 no-pad js-video-list': !q}">
       <div class="clearfix " ng-include src="'templates/module_sub_video.html'"></div>
      </li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</div>