<div class="home page page-id-122 page-template-default  videotouch">
 <div id="wrapper" class="">
  <section id="main" class="row">
   <div id="primary" class="ts-page-with-layout-builder col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div id="content" role="main">
     <!--- Start Here -->
     <div data-alignment="top" class="site-section  ts-expanded-row">
      <div class="row">
       <div class="col-lg-12 col-md-12">
        <div class="row content-block ">
         <div data-scroll="true" class="mosaic-view  mosaic-with-gutter  mosaic-rectangles" ng-if="contentGliders">
          <grid source="contentGliders" break="6" />
         </div>
        </div>
        <div class="row content-block ">
         <div data-element="spacer" data-show-mobile="n" style="height: 50px;"></div>
        </div>
       </div>
      </div>
     </div>
     <!--- End Here -->
    </div>
   </div>
  </section>
 </div>
</div>