<footer id="footer">
 <div class="footer clearfix montserrat">
  <div class="container">
   <div class="row">
    <div class="col-md-3 col-sm-6">
     <div class="row">
      <div class="col-xs-12 text-left">
       <a class="logo" href="#">
        <img title="GTV" alt="[Image: GTV]" src="themes/smiletv/img/smiletv_logo_footer.png">
       </a>
      </div>
     </div>
     <div class="row">
      <div class="col-xs-12 navbar-btn">
       <p class="navbar-btn">Change placeholder to: "Smile TV is a unique resource dedicated to sharing positive and uplifting stories for the soul purpose of smiling. We strive to bring you fun, happy, and inspiring videos, blogs, and articles guaranteed to make you smile." - Sandy</p>
      </div>
     </div>
    </div>
    <div class="col-md-3 col-sm-6">
     <div class="row">
      <div class="col-xs-12">
       <h6 class="footer-widget-title initialism">Meta</h6>
      </div>
     </div>
     <div class="row">
      <div class="col-xs-12" ng-if="is_create_scope" id="homeVideo7">
       <module_page></module_page>
      </div>
     </div>
    </div>
    <div class="col-md-3 col-sm-6">
     <div class="row">
      <div class="col-xs-12">
       <h6 class="footer-widget-title initialism">Find us here</h6>
      </div>
     </div>
     <div class="row">
      <div class="col-xs-12 header-social">
       <module-social-share type="network" template-url="templates/module-social-share-header.html"></module-social-share>
      </div>
     </div>
    </div>
    <div class="col-md-3 col-sm-6">
     <div class="row">
      <div class="col-xs-12">
       <h6 class="footer-widget-title initialism">Facebook</h6>
       <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FSmileTVGroup&amp;width=360&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=false" width="100%" height="215"></iframe>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="clearfix copyright">
   <div class="container">
    <div class="row">
     <div class="col-xs-12">
      <div class="row">
       <div class="col-xs-12">
        <p>Copyright 2015 By SmileTV All rights reserved. Powered by GTV</p>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</footer>