<link rel="stylesheet" type="text/css" href="themes/smiletv/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="themes/smiletv/css/jquery.fileupload.css">
<link rel="stylesheet" type="text/css" href="themes/smiletv/css/jquery.fileupload-ui.css">
<link rel="stylesheet" type="text/css" href="themes/smiletv/css/jquery.fileupload-noscript.css">
<link rel="stylesheet" type="text/css" href="themes/smiletv/css/jquery.fileupload-ui-noscript.css">
<link rel="stylesheet" type="text/css" href="themes/smiletv/css/jquery-ui.min.css">
<link rel="stylesheet" type="text/css" href="themes/smiletv/css/angular-dropdowns.css">
<link rel="stylesheet" type="text/css" href="themes/smiletv/css/angular-growl.min.css">
<link rel="stylesheet" type="text/css" href="themes/smiletv/css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="themes/smiletv/css/animate-loader.css">