<ul class="list-unstyled pa right-mar col-xs-pull-0 row-xs-pull-0 social-share-trans" ng-show="connected_providers">
 <li ng-repeat="connected_provider in connected_providers" class="js-connected-provider-{{connected_provider.order}}">
  <a class="show" href="{{connected_provider.url}}" target="_blank" title="{{connected_provider.linked_account_type_name}}">
   <span class="fa-stack fa-lg">
    <i class="fa fa-stop fa-stack-2x text-primary"></i>
    <i class="fa fa-{{connected_provider.linked_account_type_slug}} fa-stack-1x fa-inverse"></i>
   </span>
  </a>
 </li>
</ul>