<div class="clearfix ">
 <div class="bot-space">
  <div class="row">
   <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
    <h2 class="text-22 no-mar">
     {{video_title}}
     <span class="text-18" ng-show="total_video_count != 0 && video_showCount === 'true'"> ({{total_video_count}})</span>
     <a title="{{video_title}}" class="text-primary" href="" ng-click="video_infinite_view = !video_infinite_view" ng-if="video_isInfiniteScroll" ng-show="video_displayType == undefined">
      <i class="fa fa-caret-right" ng-show="video_infinite_view == false"></i>
      <i class="fa fa-caret-down left-mar tab-no-mar" ng-show="video_infinite_view == true"></i>
     </a>
    </h2>
   </div>
   <div class="bottom-mar col-lg-4 col-md-5 col-sm-6 col-xs-12 text-center hidden-xs select-dropdown" ng-show="video_showSort">
    <div class="form-group small no-mar">
     <label class="control-label col-xs-3 h4 text-muted">Sort</label>
     <div class="col-xs-8 playlists-category h5">
      <strong class="initialism">
       <div dropdown-select="video_selectOptions" dropdown-model="video_sortby_obj" dropdown-item-label="name" dropdown-onchange="video_sorting(selected)" dropdown-placeholder="Sort"></div>
      </strong>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div ng-if="video_isInfiniteScroll" class="">
  <div class="device-wrap-ld device-wrap clearfix col-center-block" ng-show="video_infinite_view == false">
   <div id="myCarousel" class="playlist-carousel custom-channel carousel slide" data-ride="carousel">
    <div class="">
     <div ng-show="videoNoRecord" class="alert alert-warning"> No Record Found</div>
     <div ng-show="videoLaoding" class="clearfix col-lg-12  block-space pr">
      <span class="cssloader"></span>
     </div>
     <div class="carousel-inner no-pad vimeo-video" data-carousel data-carousel-class="video-list2" data-on-page-upcoming="loadPage(page, tmplCb)" data-give-carousel-to="onCarouselAvailable(carousel)" ng-show="!videoNoRecord">
      <ul class="clearfix list-inline no-mar js-list-inline pr">
       <li class="col-lg-6 js-video-list" data-ng-repeat="video in videos" ng-swipe-left="swipeNext()" ng-swipe-right="swipePrevious()" on-carousel-scope-render="videoFinishRender()">
        <div class="">
         <div class=" pr no-mar user-video-block">
          <a href="#!/videos/{{video.id}}" class="row pr no-mar user-video-block popover-html show" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;video-detail&quot;><div class=&quot;arrow arrow-right&quot;></div><h4>{{video.name}}</h4><p>By&nbsp;{{video.channel_name}}</p><div class=&quot;clearfix&quot;><a href=&quot;&quot; title=&quot;Watch Now&quot; class=&quot;btn btn-default pull-left&quot;>Watch Now</a><a href=&quot;#!/videos/{{video.id}}&quot; title=&quot;Quick View&quot; class=&quot;btn btn-link pull-right&quot;>Quick View</a></div></div>" data-original-title="" title="{{video.name}}">
           <div class="image-holder default-effect">
            <div class="video-img ">
             <div class="back-image" ng-if="!video.is_manual_upload" ng-style="{'background':'url(' + video.thumbnail_url + ') no-repeat center center', 'background-size':'cover'}"></div>
             <div class="back-image" ng-if="video.is_manual_upload" ng-style="{'background':'url(' + $root.AWS_BASE_URL + '/' + video.medium_thumb_thumbnail + ') no-repeat center center', 'background-size':'cover'}"></div>
             <div class="overlay-effect">
              <div class="entry-overlay">
               <div class="view-more">
                <i class="fa fa-play-circle-o"></i>
                <span>play</span>
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="pa col-xs-push-0 col-xs-pull-0 clsPlayTime" ng-if="video.duration != 0">
            <div class="pull-left bg-darker text-15 hor-space">
             <span>{{video.duration | sec_to_min}}</span>
            </div>
           </div>
          </a>
         </div>
         <div class="item-head video-head">
          <h5 class="clearfix"><a href="#!/videos/{{video.id}}" class="hdTruncate ">{{video.name}}</a></h5>
          <!--<ul class="list-inline clearfix text-muted bottom-mar initialism " ng-if="video.published_at">
           <li class="small text-light">{{video.published_at | timeAgo}}</li>
          </ul>-->
          <p class="text-12 htruncate-mml3">{{video.description}}</p>
          <div class="panel panel-default no-shad no-round space ver-mar clearfix">
           <div class="views-block">
            <ul class="list-inline">
             <li>
              <a href="#" title="Likes">
               <i class="fa fa-smile-o text-primary"></i>
               <span class="text-muted hor-space">{{video.video_rating_positive_count}}</span>
              </a>
             </li>
             <li>
              <a href="#" title="Views">
               <i class="fa fa-eye text-muted"></i>
               <span class="text-muted hor-space">{{video.video_view_count}}</span>
              </a>
             </li>
             <li class="pull-right">
              <a href="#!/videos/{{video.id}}" title="play" class="play-icon">
               <span class="text-muted hor-space">play</span>
               <i class="fa fa fa-angle-right text-primary text-center"></i>
              </a>
             </li>
            </ul>
           </div>
          </div>
          <div class="item-info">
           <span class="item-author hide"><a href="#!/channels/{{video.channels_slug}}" title="{{video.channel_name}}">By&nbsp;{{video.channel_name}}</a></span>
          </div>
         </div>
        </div>
       </li>
      </ul>
     </div>
     <div class="clearfix control-btn pa">
      <a class="left carousel-control no-bg" data-ng-show="hasPrevious()" data-ng-click="previous()" href="" data-target="#myCarousel">
       <span class="fa fa-angle-left fa-3x cur"></span>
      </a>
      <a class="right carousel-control no-bg" data-ng-show="hasNext()" data-ng-click="next()" href="" data-target="#myCarousel">
       <span class="fa fa-angle-right fa-3x  cur"></span>
      </a>
     </div>
    </div>
   </div>
  </div>
  <div ng-if='video_infiniteScrollElement' class="">
   <div class="collapse in clearfix" ng-show="video_infinite_view == true" infinite-scroll="loadMoreVideo()" infinite-scroll-disabled='video_busy' infinite-scroll-element='{{video_infiniteScrollElement}}' infinite-scroll-distance="0" id="search-videolist">
    <div ng-show="videoNoRecord" class="alert alert-warning"> No Record Found</div>
    <div id="searchCarouse2_1" class="video-carousel mob-no-mar playlist-carousel ">
     <div class="clearfix block-space pr" ng-show="videoLaoding">
      <div class="cssloader top-mar"></div>
     </div>
     <div class="carousel-inner container no-pad vimeo-video" ng-show="!videoNoRecord">
      <ul class="clearfix list-inline js-list-inline pr" ng-show="!video_loading">
       <li class="col-sm-4 js-video-list" ng-repeat="video in videos_listing" ng-class="{'col-lg-3 col-md-4 col-sm-6 col-xs-10 col-center-block text-left': q, 'col-xs-4 js-video-list': !q}">
        <div class="clearfix">
         <div class="row pr no-mar user-video-block">
          <a href="#!/videos/{{video.id}}" class="row pr no-mar user-video-block popover-html show" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;video-detail&quot;><div class=&quot;arrow arrow-right&quot;></div><h4>{{video.name}}</h4><p>By&nbsp;{{video.channel_name}}</p><div class=&quot;clearfix&quot;><a href=&quot;&quot; title=&quot;Watch Now&quot; class=&quot;btn btn-default pull-left&quot;>Watch Now</a><a href=&quot;#!/videos/{{video.id}}&quot; title=&quot;Quick View&quot; class=&quot;btn btn-link pull-right&quot;>Quick View</a></div></div>" data-original-title="" title="{{video.name}}">
           <div class="image-holder default-effect">
            <div class="video-img ">
             <div class="back-image" ng-if="!video.is_manual_upload" ng-style="{'background':'url(' + video.thumbnail_url + ') no-repeat center center', 'background-size':'cover'}"></div>
             <div class="back-image" ng-if="video.is_manual_upload" ng-style="{'background':'url(' + $root.AWS_BASE_URL + '/' + video.medium_thumb_thumbnail + ') no-repeat center center', 'background-size':'cover'}"></div>
             <div class="overlay-effect">
              <div class="entry-overlay">
               <div class="view-more">
                <i class="fa fa-play-circle-o"></i>
                <span>play</span>
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="pa col-xs-push-0 col-xs-pull-0 clsPlayTime" ng-if="video.duration != 0">
            <div class="pull-left bg-darker text-15 hor-space">
             <span>{{video.duration | sec_to_min}}</span>
            </div>
           </div>
          </a>
         </div>
         <div class="item-head video-head">
          <h5 class="clearfix"><a href="#!/videos/{{video.id}}" class="hdTruncate ">{{video.name}}</a></h5>
          <!--<ul class="list-inline clearfix text-muted bottom-mar initialism " ng-if="video.published_at">
           <li class="small text-light">{{video.published_at | timeAgo}}</li>
          </ul>-->
          <p class="text-12 htruncate-mml3">{{video.description}}</p>
          <div class="panel panel-default no-shad no-round space ver-mar clearfix">
           <div class="views-block">
            <ul class="list-inline">
             <li>
              <a href="#" title="Likes">
               <i class="fa fa-smile-o text-primary"></i>
               <span class="text-muted hor-space">{{video.video_rating_positive_count}}</span>
              </a>
             </li>
             <li>
              <a href="#" title="Views">
               <i class="fa fa-eye text-muted"></i>
               <span class="text-muted hor-space">{{video.video_view_count}}</span>
              </a>
             </li>
             <li class="pull-right">
              <a href="#!/videos/{{video.id}}" title="play" class="play-icon">
               <span class="text-muted hor-space">play</span>
               <i class="fa fa fa-angle-right text-primary text-center"></i>
              </a>
             </li>
            </ul>
           </div>
          </div>
          <div class="item-info">
           <span class="item-author hide"><a href="#!/channels/{{video.channels_slug}}" title="{{video.channel_name}}">By&nbsp;{{video.channel_name}}</a></span>
          </div>
         </div>
        </div>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
 </div>
 <div ng-if="video_isInfiniteScroll !== true" class="">
  <div class="collapse in clearfix" id="search-videolist">
   <div ng-show="videoNoRecord" class="alert alert-warning"> No Record Found</div>
   <div id="searchCarouse2_1" class="video-carousel mob-no-mar playlist-carousel ">
    <div class="clearfix block-space pr" ng-show="videoLoading">
     <div class="cssloader top-mar"></div>
    </div>
    <div class="carousel-inner container no-pad vimeo-video" ng-show="!videoNoRecord">
     <ul class="row js-list-inline unstyled" ng-show="!video_loading">
      <li class="col-sm-4 js-video-list" ng-repeat="video in videos_listing" ng-class="{'col-lg-3 col-md-4 col-sm-6 col-xs-10 col-center-block text-left': q, 'col-sm-4 js-video-list': !q}">
       <div class="mobileBotSpace">
        <div class="pr no-mar user-video-block">
         <a href="#!/videos/{{video.id}}" class="row pr no-mar user-video-block popover-html show" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;video-detail&quot;><div class=&quot;arrow arrow-right&quot;></div><h4>{{video.name}}</h4><p>By&nbsp;{{video.channel_name}}</p><div class=&quot;clearfix&quot;><a href=&quot;&quot; title=&quot;Watch Now&quot; class=&quot;btn btn-default pull-left&quot;>Watch Now</a><a href=&quot;#!/videos/{{video.id}}&quot; title=&quot;Quick View&quot; class=&quot;btn btn-link pull-right&quot;>Quick View</a></div></div>" data-original-title="" title="{{video.name}}">
          <div class="image-holder default-effect">
           <div class="video-img ">
            <div class="back-image" ng-if="!video.is_manual_upload" ng-style="{'background':'url(' + video.thumbnail_url + ') no-repeat center center', 'background-size':'cover'}"></div>
            <div class="back-image" ng-if="video.is_manual_upload" ng-style="{'background':'url(' + $root.AWS_BASE_URL + '/' + video.medium_thumb_thumbnail + ') no-repeat center center', 'background-size':'cover'}"></div>
            <div class="overlay-effect">
             <div class="entry-overlay">
              <div class="view-more">
               <i class="fa fa-play-circle-o"></i>
               <span>play</span>
              </div>
             </div>
            </div>
           </div>
          </div>
          <div class="pa col-xs-push-0 col-xs-pull-0 clsPlayTime" ng-if="video.duration != 0">
           <div class="pull-left bg-darker text-15 hor-space">
            <span>{{video.duration | sec_to_min}}</span>
           </div>
          </div>
         </a>
        </div>
        <div class="item-head video-head">
         <h5 class="clearfix"><a href="#!/videos/{{video.id}}" class="hdTruncate ">{{video.name}}</a></h5>
         <!--<ul class="list-inline clearfix text-muted bottom-mar initialism " ng-if="video.published_at">
          <li class="small text-light">{{video.published_at | timeAgo}}</li>
         </ul>-->
         <p class="text-12 htruncate-mml3">{{video.description}}</p>
         <div class="panel panel-default no-shad no-round space ver-mar clearfix">
          <div class="views-block">
           <ul class="list-inline">
            <li>
             <a href="#" title="Likes">
              <i class="fa fa-smile-o text-primary"></i>
              <span class="text-muted hor-space">{{video.video_rating_positive_count}}</span>
             </a>
            </li>
            <li>
             <a href="#" title="Views">
              <i class="fa fa-eye text-muted"></i>
              <span class="text-muted hor-space">{{video.video_view_count}}</span>
             </a>
            </li>
            <li class="pull-right">
             <a href="#!/videos/{{video.id}}" title="play" class="play-icon">
              <span class="text-muted hor-space">play</span>
              <i class="fa fa fa-angle-right text-primary text-center"></i>
             </a>
            </li>
           </ul>
          </div>
         </div>
         <div class="item-info">
          <span class="item-author hide"><a href="#!/channels/{{video.channels_slug}}" title="{{video.channel_name}}">By&nbsp;{{video.channel_name}}</a></span>
         </div>
        </div>
       </div>
      </li>
     </ul>
    </div>
   </div>
  </div>
 </div>
</div>