<div class="col-lg-6 col-center-block text-muted no-pad col-md-8 col-sm-10 col-xs-11">
 <div class="block-space-sm">
  <div class="space-lg lightbox-bg montserrat">
   <div class="pa col-xs-pull-0 hor-space hor-mar mob-space z-top"> <a href="" ng-click="cancel()" class="modal-closer show hor-mar" title="close">Close</a> </div>
   <div class="col-lg-11 col-md-11 col-sm-11 col-center-block no-pad text-22 mob-dc playlist-making">
    <div class="ver-space mob-top-mar">
     <h2 class="mob-dc text-light no-mar text-30 mob-top-mar">Making a Video Playlist is easy!</h2>
    </div>
    <div class="media">
     <span class="pull-left mob-clr col-sm-8 col-xs-12 row">
      <img class="media-object img-responsive" src="img/playlist-builder.png" alt="[Image: Playlist Builder]" title="Playlist Builder">
     </span>
     <div class="media-body mob-clr playlist">
      <p class="text-18 hor-space mob-no-mar">Drag any video to the Playlist Builder.</p>
     </div>
    </div>
    <div class="media">
     <span class="pull-left mob-clr bottom-mar col-sm-8 col-xs-12 row">
      <img class="media-object img-responsive" src="img/add-playlist.png" alt="[Image: Add Playlist]" title="Add Playlist">
     </span>
     <div class="media-body mob-clr add-playlist">
      <p class="text-18 hor-space mob-no-mar">Click "+" to instanly add the video to your playlists.</p>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>